.progress-dots  {
    text-align: center;
}

.progress-dots > li.active {
    background: #24282a;
}

.progress-dots > li {
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    border: 1px solid #24282a;
    cursor: pointer;
}

.carousel-item {
    width: 75vw;
}

.carousel,carousel {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 30000px;
}
