# Copyright 2016 Ayogo Health Inc.

.bundle
.DS_Store
.ruby-version
.ruby-gemset
.rvmrc
.#*
.idea
*~
*.gem
*.swp
Gemfile.lock
npm-debug.log
coverage
demo/generated/*
demo/assets/icons.svg
dist/**/*.spec.*
doc/*
log
node_modules
pkg
spec/dummy/log/*
spec/dummy/db/schema.rb
spec/dummy/tmp
spec/dummy/public/system
tmp
reports
dist-es5
